*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(34, 34, 34), rgb(4, 6, 9));
    height: 100vh;
}

.appWrapper {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

#tsparticles {
  position: fixed; /* stays even when scrolling */
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind all content */
}

.navbar,
.pageContent {
  position: relative;
  z-index: 1; /* Above particles */
}
