/* TechStack.module.css */

.main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    /* background-color: #c78585; */
    /* background: linear-gradient(180deg, #0d0d0d 0%, #1a1a1a 100%); */
    color: #fff;
    position: relative;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Roboto Condensed";
    background: linear-gradient(90deg, #ffffff, #dddce3, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    text-align: center;
    animation: fadeInUp 1s ease forwards;

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    /* background-color:pink ; */
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.glassButton {
    padding: 12px 28px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.glassButton:hover {
    /* background: rgba(255, 255, 255, 0.15); */
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(144, 137, 252, 0.4);
}

/* Individual category colors */
.languages {
    border-color: #ff80b5;
    color: #ff80b5;
}

.languages:hover {
    box-shadow: 0 8px 20px rgba(255, 128, 181, 0.4);
    background-color: #ff80b5;
    color: white;
}

.frontend {
    border-color: #7f5af0;
    color: #7f5af0;
}

.frontend:hover {
    box-shadow: 0 8px 20px rgba(127, 90, 240, 0.4);
    background-color: #7f5af0;
    color: white;
}

.backend {
    border-color: #00d084;
    color: #00d084;
}

.backend:hover {
    box-shadow: 0 8px 20px rgba(0, 208, 132, 0.4);
    background-color: #00d084;
    color: white;
}

.database {
    border-color: #ffba08;
    color: #ffba08;
}

.database:hover {
    box-shadow: 0 8px 20px rgba(255, 186, 8, 0.4);
    background-color: #ffba08;
    color: white;
}

.aiml {
    border-color: #f72585;
    color: #f72585;
}

.aiml:hover {
    box-shadow: 0 8px 20px rgba(247, 37, 133, 0.4);
    background-color: #f72585;
    color: white;
}

.blockchain {
    border-color: #3a86ff;
    color: #3a86ff;

}

.blockchain:hover {
    box-shadow: 0 8px 20px rgba(58, 134, 255, 0.4);
    background-color: #3a86ff;
    color: white;
}

.cloud {
    border-color: #ff6d00;
    color: #ff6d00;
}

.cloud:hover {
    box-shadow: 0 8px 20px rgba(255, 109, 0, 0.4);
    background-color: #ff6d00;
    color: white;
}

